<h1>Welcome to the User Page</h1>
<p class="lead">This is a simple example of a user-facing web page using Bootstrap's cover template.</p>
<p>
  <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
</p>
