body {
    background-color: #333;
    color: #fff;
  }
  
  .cover-container {
    max-width: 42em;
  }
  
  .btn-secondary {
    color: #333;
    background-color: #fff;
    border: 1px solid #fff;
  }
  