<nav class="navbar navbar-expand navbar-light bg-light topbar mb-4">
  <button class="btn btn-link d-md-none rounded-circle" id="sidebarToggle">
    <i class="fa fa-bars"></i>
  </button>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Logout</a>
    </li>
  </ul>
</nav>
