<nav class="navbar navbar-dark bg-dark sidebar">
  <a class="navbar-brand" href="/admin">Admin Dashboard</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/reports">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/users">Users</a>
    </li>
  </ul>
</nav>
